<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @order.item %>
</p>

<p>
  <strong>Order no:</strong>
  <%= @order.order_no %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @order.order_date %>
</p>
<p>
  <strong>Payment Mode:</strong>
  <%= @order.payment_mode %>
</p>



<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
